export(pvclust)
export(pvpick)
export(msfit)
export(msplot)
export(pvrect)
export(seplot)
export(parPvclust)

S3method(plot,     pvclust)
S3method(lines,    pvclust)
S3method(text,     pvclust)
S3method(print,    pvclust)
S3method(summary,  pvclust)

S3method(plot,     msfit)
S3method(lines,    msfit)
S3method(summary,  msfit)

importFrom("grDevices", "n2mfrow")
importFrom("graphics", "curve", "lines", "par", "plot", "rect",
           "segments", "text")
importFrom("stats", "as.dist", "cor", "dist", "dnorm", "hclust",
           "lsfit", "na.omit", "pchisq", "pnorm", "qnorm", "rmultinom")
importFrom("utils", "capture.output", "head", "packageVersion")
